<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRp7_NKMgwvt6e-FPgUSA_1w7tRh8A7Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>642516194216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tuist.UI-Lab</string>
	<key>PROJECT_ID</key>
	<string>uilab-dad04</string>
	<key>STORAGE_BUCKET</key>
	<string>uilab-dad04.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642516194216:ios:1ff72b52ed3b15f7f9039d</string>
</dict>
</plist>